*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#87CEEB;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
width:400px;
border-radius:10px;
box-shadow:0 0 10px gray;
text-align:center;
}

select,button{
width:100%;
padding:10px;
margin-top:15px;
font-size:16px;
}

button{
background:#0077cc;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#005fa3;
}

#weatherBox{
margin-top:20px;
}

h2{
margin-bottom:10px;
}